@import url('https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed:wght@300&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Fira Sans Condensed', sans-serif;
}
body{
  background: linear-gradient(170.8deg, rgba(26, 23, 60, 0.3) 11.61%, rgba(26, 23, 60, 0) 90.87%);

}

nav {
  position: fixed;
  top: 0;
  width: 100%;
  background: #FFFFFF;
  padding: 10px;
  box-shadow: 5px 5px 5px #888888, -5px -5px 5px #888888;
}
nav img{
float: left;

}

nav ul {
  list-style: none;
}

nav li {
  display: inline-block;
  float: right;
}

nav a {
  display: inline-block;
  color: #000000;
  text-decoration: none;
  padding: 25px;
  font-family: 'Heiti TC';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  text-transform: uppercase;
}

nav button{
  width: 70px;
  height: 30px;
  background: rgba(174, 191, 207, 0.8);
  mix-blend-mode: normal;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 50px;
  cursor: pointer;
}
nav a:hover{
  color: #851a1a;
  border-radius: 20px;
}
nav button:hover{
border: 0 solid;
}
nav button:hover{
  color: #000;
}



.checkButton{
  font-size: 30px;
  color: black;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
  margin-top: 20px;
}

.myCheckBox{
  display: none;
}



/* Container */

  .container {
    
    display:flex;
    width: 100%;
    
    background-image: url(/images/bghome1.png);
  }
  
  .half {

    width: 50%;
    color: #FFFFFF;
    padding: 100px 2%;
      line-height: 20px;
      font-size: 18px;

   
  }
  .half .sub-half{
    display: flex;
    align-items: center;
    line-height: 30px;
  }
  .half .sub-half p{
    margin: 20px;
    
  }
  .half:first-child {
    
    left: 0;

  }
 
  
  .half:last-child {
    right: 0;
   
  }
  .line {
    width: 5px;
    background: linear-gradient(to bottom, white 0%, white 50%, blue 50%, blue 100%);
    margin: 50px;
    
  }
  
.whatwedo{
    padding: 50px;
    text-align: center;

    

}
.whatwedo .columns{
  display: flex;
}
.column {
  float: left;
    border: 1px solid #130808;
    border-radius: 10px;
    margin: 50px;
}
.column span{
  
    font-weight: 400;
    font-size: 29px;
    line-height: 100px;
    color: #454C8C;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.column p{
  margin: 10px;
}

.whatwedo label{
   
    font-weight: 400;
    font-size: 38px;
    color: #130808;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.dealwith{
    padding: 50px;
    text-align: center;

}
.dealwith label{
    font-weight: 400;
    font-size: 38px;
    color: #130808;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.boxes{
  display: flex;
}
.boxes .box{
    float: left;
    align-items: center;
    justify-content: center;
      border: 1px solid #130808;
      border-radius: 10px;
      margin: 50px;
      width: 380px;
      height: 349px;
    background: rgba(18, 29, 130, 0.2);
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px 20px 19px 21px;
}
.box span{
  text-align: center;
}







.footer{
  padding: 10px;
  background: rgba(6, 11, 61, 0.9);
  border: 1px solid rgba(0, 0, 0, 0.4);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.all-links{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 50px;
}

.social{
  display: flex;
  align-items: center;
  justify-content: center;
  color: #FFFFFF;

}
.social-icons i{
  color: #FFFFFF;
  padding: 10px;
  text-align: center;
  transition: all 0.5s ease;
}
.links{
  width: 20%;
  padding: 0 15px;
  margin-left: 100px;
}
.links h4{
  font-weight: 700;
  font-size: 20px;
  color: #5A6980;

}
.links a{
  display: block;
  text-decoration: none;
  font-size: 16px;
  color: #FFFFFF;
  line-height: 50px;

}


.footer .copyright{
  text-align: center;
  color: #FFFFFF;
  font-size: 16px;
  padding: 10px;
}


@media (max-width: 1200px) {


  .checkButton{
    display: block;
}

ul{
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: rgb(34, 31, 32);
    top: 80px;
    left: -100%;
    text-align: center;
    transition: all .5s;
}

nav ul li a{
    display: block;
    font-size: 20px;
    color: white;
    margin-right: 50px;
   
}

.myCheckBox:checked ~ ul{
    left: 0;
}

  .container {
    
    flex-direction: column;
  }
  
  .half {
    width: 100%;
    align-items: center;
    justify-content: center;

  }
  
  .half:first-child,
  .half:last-child {
    left: 0;
    right: 0;
   
  }

  .half:last-child{
    line-height: 30px;
    margin-top: -230px;
  }


 
  .columns{
   flex-direction: column;
   align-items: center;
  }
  .columns .column{
    width: 100%;
    
  }
  
  .boxes{
    flex-direction: column;
    align-items: center;
   }
   .boxes .box{
     width: 100%;
     
   }
   .boxes .box span{
    justify-content: center;
  }
 .footer{
  display: flex;
  flex-direction: column;
 }
 .social{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
 }
.all-links .links{
    display: block;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 70px;
   
   
}
}

@media (max-width: 1018px) {
  .footer{
    display: flex;
    flex-direction: column;
   }
   .social{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
   }
  .all-links .links{
      display: block;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin-left: 70px;
      width: 30%;
     
  }
  }
